@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  /* custom page colours */
  --background: #0c0c0c;
  --font-main: #ababab;
  --font-sub: #7c7c7c;
  --font-title: #dadada;
  --font-theme: #cde4ff;
  /* tailwind configuration */
  --palette-gray-primary: #000;
  --palette-gray-secondary: #000;
  --palette-gray-tertiary: #000;
  --palette-gray-quaternary: #000;
  --palette-gray-quinary: #000;
  --palette-gray-senary: #000;
}


/* main & duplicate styles */
body {
  background-color: var(--background);
  user-select: none;
}
h1, h2, h3, h4, h5, h6 {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  color: var(--font-title);
}
.minus-em {
  height: calc(100vh - 2em);
}
.clear ::before,
.clear ::after {
  display: none;
  clear: both;
}


/* pie styles: @components\layout\nya */
.tart ::before,
.tart ::after {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 16px;
  background: var(--background);
  z-index: 60;
}
.tart ::after {
  top: auto;
  bottom: 0;
}
.puff ::before,
.puff ::after {
  left: auto;
  right: 0;
  top: 0;
  width: 15px;
  height: 100%;
  z-index: 60;
}
.puff ::after {
  left: 0;
  right: auto;
}


/* meow meow animations: @components\layout\nya */
.meow {
  content: "";
  display: block;
  opacity: 1;
  width: 16px;
  height: 3px;
  background: rgb(156, 163, 175);
  transition: all .4s ease-in-out;
}
.meow-0 {
  position: absolute;
  top: -3px;
  transition: all .5s ease-in-out;
}
.meow-2 {
  position: absolute;
  top: 3px;
  transition: all .5s ease-in-out;
}
.meow-0-ani {
  transform: translate(0px, 6px) rotate(45deg);
  -webkit-transform: translate(0px, 6px) rotate(45deg);
}
.meow-1-ani {
  opacity: 0%;
}
.meow-2-ani {
  transform: translate(0px, -6px) rotate(45deg);
  -webkit-transform: translate(0px, -6px) rotate(-45deg);
}
.catto, .catto-m {
  transition: all .6s ease-in-out;
}
.catto-ani {
  width: 300px !important;
  transform: translate(-180px, 0px);
}
.catto-m-ani {
  transform: translate(-180px, 0px);
  -webkit-transform: translate(-180px, 0px);
}
.nav-item {
  position: relative;
  left: 25px;
  opacity: 0;
}
.nav-item-active {
  opacity: 1;
  -webkit-transform: translateX(-25px);
  transform: translateX(-25px);
}
.nya-nav :nth-child(1) {
  -webkit-transition-delay: .05s;
  transition-delay: .05s;
}
.nya-nav :nth-child(2) {
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}
.nya-nav :nth-child(3) {
  -webkit-transition-delay: .15s;
  transition-delay: .15s;
}
.nya-nav :nth-child(4) {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}
.nya-nav :nth-child(5) {
  -webkit-transition-delay: .25s;
  transition-delay: .25s;
}
.nya-nav :nth-child(6) {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}
.ts-fast {
  transition: all .4s ease-in-out;
}
.ts-slow {
  transition: all .6s ease-in-out;
}
.ts-1 {
  transition: all 1.0s cubic-bezier(0, 0, 0.1, 0.99);
}


/* index styles */
.swiper {
  z-index: 1;
}
.swiper-active {
  width: 25px !important;
  background-color: #b0b2c9 !important;
}
.banner {
  background-image: url('/img/bg.jpg');
}
.fence {
  top: -48px
}


/* components styles */
.award {
  min-width: 40px;
  max-width: 60px;
}
.ts-text :hover {
  color: var(--font-title);
  cursor: pointer;
  text-shadow: 0 0 6px #fff
}
.ts-img :hover {
  opacity: 1;
}
.mask {
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  z-index: -1;
}
.fade-enter.fade-enter-active {
  opacity: 0;
}
.fade-enter-done {
  opacity: 1;
  transition: opacity 600ms;
  z-index: 0;
}
.fade-exit.fade-exit-active {
  opacity: 1;
  z-index: 0;
}
.fade-exit-done {
  opacity: 0;
  transition: opacity 600ms;
  z-index: 0;
}


/* fonts: /fonts */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "IBMPlexMono";
  src: url("/fonts/IBMPlexMono-Regular.ttf");
}
.t-15p {
  font-size: 1.15em;
}
.t-90p {
  font-size: .9em;
}
.t-80p {
  font-size: .8em;
}
.t-c {
  color: var(--font-theme);
}
.t-m {
  color: var(--font-main);
}
.t-s {
  color: var(--font-sub)
}
.t-t {
  color: var(--font-title);
}


/* swiper phase */
.sw-0 {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
}
.sw-1 {
  transform: translate(0px, 0px);
  -webkit-transform: translate(-355px, 0px);
}
.sw-2 {
  transform: translate(0px, 0px);
  -webkit-transform: translate(-698px, 0px);
}
.sw-3 {
  transform: translate(0px, 0px);
  -webkit-transform: translate(-1042px, 0px);
}
.sw-4 {
  transform: translate(0px, 0px);
  -webkit-transform: translate(-1200px, 0px);
}

